@charset "UTF-8";

.top_bg {
  z-index: -99;
  width: 100%;
  height: 100%;
  background-image: url(../img/contact_top.png);
  background-size:cover;
  background-position: 0 50%;
  position: relative;
}

.contact_txt {
  text-align: center;
  margin-bottom:15%;
  position: relative;
}

.contact_txt::after{
    content: '';
    width: 220px;
    height: 2px;
    display: inline-block;
    background-color: #333;
    position: absolute;
    bottom: -7.5rem;
    left: calc(50% - 110px)
    
}

.contact_form {
  width: 75%;
  margin:10% auto;
}

.contact_box {
  display: flex;
  align-items: center;
  margin-bottom: 7.5%;
}

.contact_box._area {
  align-items: baseline;
}

.contact_form_box1,
.contact_form_box2 {
  height: 7.5vh;
  width: 70%;
  padding-left: 5px;
  font-size: 1rem;
}

.contact_txtarea {
  width: 70%;
  height: 40vh;
  font-size: 1rem;
  padding: 5px;
}

.contact_form_ttl {
  width: 40%;
  height: 100%;
  font-size: 1.15rem;
  
}

.contact_btn {
  display: block;
  color: #333;
  background: #fff;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1rem;
  border: solid 1px #333;
}

.contact_btn:hover {
  color: #fff;
  background: #333;
  transition: 0.4s;
}

@media screen and (max-width: 1024px) {
  .contact_form {
      width: 90%;
    }
}

@media screen and (max-width: 768px) {
  .contact_box {
      display: grid;
    }

    .contact_form_box1,
    .contact_form_box2 {
      width: 90%;
      margin: 2.5% auto;
    }

    .contact_form_ttl {
      width:90%;
      margin:0 auto 2% auto;
    }

    .contact_form_ttl::after {
      left: 90%;
    }

    .contact_txtarea {
      width: 90%;
      margin: 2.5% auto;
    }
}

@media screen and (max-width: 480px) {

  .contact_txt {
      margin-top:10%;
      margin-bottom: 20%;
      font-size: 0.5rem;
    }
  
  .contact_txt::after {
    height: 1px;
    bottom:-3.5rem;
  }

  .contact_form {
    margin: 30% auto 15% auto;
  }

  .contact_form_ttl {
    font-size: 1rem;
  }
  
}